cSchema/Schema/SplitterConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  id="SplitConfig"
  elementFormDefault="qualified"
  version="0.0.0.1"
 >
  <xs:element name="Group">
    <xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="Language" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
    </xs:complexType>        
  </xs:element>
	
  <xs:element name="SplitInfo">
    <xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Group" />
			</xs:sequence>
    </xs:complexType>        
  </xs:element>

</xs:schema>
